<% provide :title, t("users.edit") %>
<% provide :submit_btn, t("save_changes") %>
<h1><%= t "update_profile" %></h1>
<div class="row">
  <div>
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %><a href="http://gravatar.com/emails" target="_blank"><%= t "change" %></a>
    </div>
  </div>
</div>
