<% provide :title, t("users.sign_up") %>
<% provide :submit_btn, t("users.create_account") %>
<h1>
  <%= t "users.sign_up" %>
</h1>
<div class="users-form">
  <div class="form-content">
    <%= render "form" %>
  </div>
</div>
